#hero {
    background-image: url(./images/hero-bg.png);
    display: flex;
    justify-content: center;
}

.buttons a:first-child {
    display: inline-block;
    width: 83px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #009cea;
    text-decoration: none;
    color: white;
}

.buttons a:last-child {
    display: inline-block;
    width: 103px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fdfdfd;
    text-decoration: none;
    color: black;
}

.img-section img {
    width: 450px;
    height: 450px;
}

#about {
    display: flex;
    justify-content: center;
}

#about .img img {
    width: 500px;
    height: 300px;
}

#about .text {
    width: 400px;
    height: 330px;
    background-color: #f2fafe;
}

#about .text .button a {
    display: inline-block;
    width: 105px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #009cea;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

#services {
    position: relative;
}

#services .header h2 {
    text-align: center;
}

#services .header h2::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: #009cea;
    position: relative;
    top: 15px;
    left: -67px;
}

.service-items {
    display: flex;
    justify-content: space-between;
}

.service-items .service-item {
    text-align: left;
    width: 200px;
    height: 200px;
    background-color: white;

}



#services .paragraph p {
    text-align: center;

}

.service-item img {
    width: 50px;
    height: 50px;
}

#portfolio {
    position: relative;
}

#portfolio .header h2 {
    text-align: center;
}

#portfolio .header h2::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: #009cea;
    position: relative;
    top: 15px;
    left: -67px;
}

#portfolio .paragraph p {
    text-align: center;

}

#portfolio .products ul {
    display: flex;
    list-style-type: none;
    gap: 29px;
    justify-content: center;
}

.portfolio-items .portfolio-item {
    background-image: url(https://bootstrapmade.com/content/demo/Scaffold/assets/img/portfolio/app-1.jpg);
    width: 350px;
    height: 280px;
    background-size: cover;
}

.portfolio-item {
    position: relative;

}

.portfolio-items .portfolio-item .overlay-items {

    padding: 10px;
    color: white;
    display: none;
    background-color: black;
    width: 94%;
    height: 93%;


}

.portfolio-items .portfolio-item:hover .overlay-items,
.portfolio-items .portfolio-item:hover .text,
.portfolio-items .portfolio-item:hover .icon-item {

    opacity: 0.5;
    transition: 0.5s;
    display: block;
}





.portfolio-items .portfolio-item .icon-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;

}

.portfolio-items .portfolio-item .text {
    position: absolute;
    top: 198px;
    left: 20px;
    color: white;
    display:none;
}