body{
    margin:0;
}

#information{
    width:1200px;
    display:flex;
    margin:50px auto;
    flex-wrap: wrap;
    justify-content:space-between;
}

.card{
    width:48%;
    display: flex;     
    gap: 20px;
    margin-bottom: 50px;
}
